export(benchmark.patchwork.copula)
export(calculate.power)
export(generate.benchmark.data)
export(generate.patchwork.copula)
export(generate.roc)
export(novelTest.chisq)
export(novelTest.extreme)
export(P_ceq)
export(P_cge_ale)
export(P_cge_aeq)
export(Pc_givena)
export(Pc_givena4nn)
export(power.plot)
export(roc.plot)
export(run.tests)
importFrom(parallel,mclapply)
